.about {
  background-color: red;
  height: 500px;
  transform: translateY(150px);
  opacity: 0;
  animation: hero-text-animate 1s 4.4s cubic-bezier(.04,.79,.49,.93) forwards;
}

.section-h1,
.section-h2,
.section-h3,
.section-h4,
.section-h5 {text-align:center}

.hero-heading,
.hero-subheading1,
.hero-subheading2,
.hero-paragraph {
  transform: translateY(150px);
  opacity: 0;
}

.hero-heading {
  animation: hero-text-animate 1s 2.5s cubic-bezier(.04,.79,.49,.93) forwards;
}

.hero-subheading1 {
  animation: hero-text-animate 1s 2.8s cubic-bezier(.04,.79,.49,.93) forwards;
}
.hero-subheading2 {
  animation: hero-text-animate 1s 3.1s cubic-bezier(.04,.79,.49,.93) forwards;
}
.hero-paragraph {
  animation: hero-text-animate 1s 3.4s cubic-bezier(.04,.79,.49,.93) forwards;
}

@keyframes hero-text-animate {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}